body {
    background-color: #fff;
}

.logo {
    height:100px;
}

.navbar {
    text-align: center;
    height: 125px;
}

.saber {
    vertical-align: middle;
    border-style: none;
    height: 40px;
    width: 100%;
}

.navtxt {
    list-style-type: none;
}

.card {
    border: none;
    transition: ease 1s;
    background-color: transparent;
    color: black;
    text-align: center;
    border-radius: 25px;
}

.cardimg {
    border-radius: 25px;
}

.card:hover {
    box-shadow: 0 0 30px 10px #0059a3;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 250px;
    background-image: url("https://www.nicepng.com/png/full/196-1966229_mastered-each-jedi-trial-and-a-green-r2d2.png");
}

.carousel {
    border-radius: 25px;
    box-shadow: 0 0 25px 10px #0059a3;
    border:none;
}

.carouselpic {
    height: 30rem;
    border-radius: 25px;
}