body {
    background-color: #fff;
}

.logo {
    height:100px;
}

.navbar {
    text-align: center;
    height: 125px;
}

.saber {
    vertical-align: middle;
    border-style: none;
    height: 40px;
    width: 100%;
}

.navtxt {
    list-style-type: none;
}

.carousel {
    border-radius: 25px;
    box-shadow: 0 0 25px 10px #0059a3;
    border:none;
}

.carouselpic {
    height: 30rem;
    border-radius: 25px;
}

.card {
    border: none;
    transition: ease 1s;
    background-color: transparent;
    color: black;
    text-align: center;
    border-radius: 25px;
}

.cardimg {
    border-radius: 25px;
}

.card:hover {
    box-shadow: 0 0 30px 10px #0059a3;
}

.btn-sm {
    background-color: #0059a3;
    border-radius: 10px;
}